@model DataBaseContext.Model.Company

@{
    ViewBag.Title = "Configuración Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>
    <h3>Configuración Empresa</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CompanyId }) |
    @Html.ActionLink("Retornar al Listado", "Index")
</p>
