@model DataBaseContext.Model.Sale

@{
    ViewBag.Title = "Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SaleId }) |
    @Html.ActionLink("Retornar al Listado", "Index")
</p>
