@model IEnumerable<DataBaseContext.Model.Sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SaleId })
        </td>
    </tr>
}

</table>
